# Zsh
config/zsh/.zcomp*
config/zsh/*.zwc
config/zsh/local/*
!config/zsh/local/.gitkeep.zsh

# Bash
config/bash/local/*
!config/bash/local/.gitkeep.bash

# tmux
config/tmux/local/*
!config/tmux/local/.gitkeep.conf

# PowerShell
config/powershell/local/*
!config/powershell/local/.gitkeep.ps1
